<!DOCTYPE html>
<html>
    <head>
        <title>Andrew's Calculator</title>
        <link rel="icon" href="../images/FaceImage.jpg" type="image/jpg">
        <link rel="stylesheet" href="../static/Calculator.css">
    </head>
    <body>
        <div id="header">
             <h1> Welcome to Andrew's Calculator</h1>
             <p> I'm Andrew, a current freshman at UCLA. Learn more about me below!</p>
             <button>
                 <a target ="_blank" href="https://github.com/Andrewwang1003">
                    My Github
                </a>
            </button>
             <button >
                <a target ="_blank" href="//www.linkedin.com/in/andrew-wang-4637382a9/">
                    My LinkedIn
                </a>
            </button>
            <button id="emailbutton">
                    Email:
                <a target ="_blank" href="mailto:andrewwang1003@g.ucla.edu">
                    andrewwang1003@g.ucla.edu
                </a>                
            </button>
            <br>
            <br>
        </div>
        <main>
            <div class="empty_box">
                <div class="results"> <div id="display"></div></div>
                <table id="calc">
                    <tr class="row">
                        <th><button class="gray" onclick="deleteChar(); updateDisplay()"> Del</button></th>
                        <th><button class="gray" onclick="clearAll(); updateDisplay()">C</button></th>
                        <th><button class="gray" onclick="appendChar('%'); updateDisplay()">%</button></th>
                        <th><button class="orange" onclick="appendChar('/'); updateDisplay()">/</button></th>
                    </tr>
                    <tr class="row">
                        <th><button class="white" onclick="appendChar('7'); updateDisplay()">7</button> </th>
                        <th><button class="white" onclick="appendChar('8'); updateDisplay()">8</button> </th>
                        <th><button class="white" onclick="appendChar('9'); updateDisplay()">9</button> </th>
                        <th><button class="orange" onclick="appendChar('x'); updateDisplay()">x</button> </th>
                    </tr>  
                    <tr class="row">
                        <th><button class="white" onclick="appendChar('4'); updateDisplay()">4</button> </th>
                        <th><button class="white" onclick="appendChar('5'); updateDisplay()">5</button> </th>
                        <th><button class="white" onclick="appendChar('6'); updateDisplay()">6</button> </th>                                
                        <th><button class="orange" onclick="appendChar('-'); updateDisplay()">-</button> </th>
                    </tr>
                    <tr class="row">
                        <th><button class="white" onclick="appendChar('1'); updateDisplay()">1</button> </th>
                        <th><button class="white" onclick="appendChar('2'); updateDisplay()">2</button> </th>
                        <th><button class="white" onclick="appendChar('3'); updateDisplay()">3</button> </th>
                        <th><button class="orange" onclick="appendChar('+'); updateDisplay()">+</button> </th>
                    </tr>
                    <tr class="row">
                        <th><button class="white" onclick="reverse(); updateDisplay()">+/-</button> </th>
                        <th><button class="white" onclick="appendChar('0'); updateDisplay()">0</button> </th>
                        <th><button class="white" onclick="appendChar('.'); updateDisplay()">.</button> </th>
                        <th><button class="orange" onclick="showResult()">=</button> </th>
                    </tr>
                </table>
            </div>
            <div id="history"></div>
        </main>
        <script src="../static/calculator.js"></script>
    </body>
</html>